@charset "utf-8";
/* CSS Document */
:root{
	width: 100%;
	height: 100%;
}

body {
	font: 14px/22px "Montserrat", sans-serif;
	font-optical-sizing: auto;
	background-color: #fff;
	margin: 0;
}

.main {
	width: 80%;
	margin: auto;
	padding: 2% 0;
}

.main h1 {
	font-size: 40px;
}

h1{
	margin: 2% auto;
	color:#c14d4d;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
}

h2, h3, h4{
	margin-top: 3%;
	margin-bottom: 2%;
	color:#c14d4d ;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

h3 {
	margin: 0;
	color: #ff695f;
}

h4 {
	text-transform: uppercase;
	color: #772d2d;
	font-weight: 400;
}

p {
	color:#333333;
	font-size: 15px;
}

a{
	text-decoration: none;
	color: #d35151;
}

hr {
	border: 1px solid #edd3d7;
}

header {
	background:#edd3d7;
	color: #fff;
	align-content: center;
}

section {
	width: 80%;
	margin: auto;
}

.bg-wrapper {
	background-color: #edd3d7b9;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top,  #edd3d7b9 0%, #edd3d7b9 50%, #edd3d7b9 75%, #fff 100%);
	background: -webkit-linear-gradient(top,  #edd3d7b9 0%,#edd3d7b9 50%,#edd3d7b9 75%,#fff 100%);
	background: linear-gradient(to bottom,  #edd3d7b9 0%,#edd3d7b9 50%,#edd3d7b9 75%,#fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edd3d7b9', endColorstr='#fff',GradientType=0 );
}

.container-logo {
	overflow: hidden;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: auto;
	height: 200px;
}

.logo{
	background-image: url(imagenes/logo.png);
	background-size: cover;
	background-position: center;
	width: 300px;
	height: 300px;
}

.container-logo h1{
	overflow: hidden;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	width: auto;
	font-size: 100px;
	line-height: 100px;
	color: #dea0a0;
	
}

nav {
	background-color: #dea0a0;
	width: 100%;
	height: 55px;
	overflow: hidden;
	display: flex;
	flex-flow: row nowrap; 
	justify-content: space-evenly;
}

nav a {
	list-style-type: none;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-weight:bolder;
	font-size: larger;
	padding: 16px 15px;
	margin: 1 1;
}

nav a:hover {
	background-color: #edd3d7;
	color: #c14d4d;
}

nav a.active {
	background-color: #04AA6D;
	color: white;
}

/* APLICACIONES DEL COLOR*/

.apc-art-container {
	display: flex;
	flex-flow: column nowrap;
}

.apc-art-container > * {
	flex: 1;
}

.grid-wrapper {
	margin: 20px auto;
	width:100%;
	height:100%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.grid-wrapper article {
	margin: 10px;
	border-radius: 30px;
	padding: 2% 5%;
	background-color: #fff;
	box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.50);
}

.grid-wrapper article div h3 {
	text-align: center;
	width: 100%;
}

.grid-wrapper article div p {
	text-align: justify;
	width: 100%;
}

.apc-art2-header {
	margin: 1% auto;
	width: 100%;
	text-align: center;
}

#apc_art_header_p {
	text-align: center;
	width: 50%;
}

.apc-art2 p{
	text-align: center;
	margin: auto;
	margin-top: 1.05em;
}

.apc-art2-flexbox-container {
	width:100%;
	height:100%;
	text-align: center;
	margin: auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: baseline;
}

.apc-art2-flexbox-container div{
	flex: 1 1 100%;
	text-align: center;
	margin: auto;
	padding: 1%;
	width: 300px;
	height: 200px;
}

.apc-art3-header {
	margin: 1% auto;
	width: 100%;
	text-align: center;
}

.apc-art3 p{
	text-align: center;
	margin: auto;
	margin-top: 1.05em;
}

.apc-art3-flexbox-container {
	width:100%;
	height:100%;
	text-align: center;
	margin: auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: baseline;
}

.apc-art3-flexbox-container div{
	flex: 1 1 100%;
	text-align: center;
	margin: auto;
	padding: 1%;
	width: 300px;
	height: 200px;
}

 section {
	padding: 20px 0;
	text-align: center;
}
 section#home {
	background: #fff;
	text-align: center;
}
section#contact {
	text-align: center;
}

section#contact a {
	background-image: url(imagenes/Instagram_icon.png);
	background-size: cover;
	width: 50px;
	height: 50px;
	display: block;
}

 footer {
	background: #dea0a0;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	margin-top: 20px;
}

 u{
	text-decoration: underline;
}
 .gallery {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	width: 30vw;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 2%;
}
 .gallery-item {
	flex: 0 0 auto;
	width: 100%;
	scroll-snap-align: start;
	position: relative
}
 .gallery-item img {
	width: 100%;
	height: auto;
	display: block;
}

 .galeria {
	width: 14vw;
	 height: 25vw;
	 position: relative;
	 margin: auto;
	 overflow-x: hidden;
}
 .boton {
	width: 1.75vw;
	 height: 1.75vw;
	 background: rgb(241, 159, 159);
	 border-radius: 50%;
	 position: absolute;
	text-align: center;
	margin-top: 1vw;
}
 .boton:hover {
	background: darkgrey;
}
 #bot1 {
	left: 3.5vw;
}
 #bot2 {
	left: 5.5vw;
}
 #bot3 {
	left: 7.5vw;
}
 #bot4 {
	left: 9.5vw;
}
 .tira {
	width: 77vw;
	 padding: -1vw;
	 position: absolute;
	 left: 0;
	 top: 2vw;
	 transition: left 1s linear;
}
 .galeria img {
	width: 11vw;
	margin: 1.75vw;
	display: inline-block;
	text-align: center;
}
 .galeria figcaption {
	position: relative;
	 top: 21vw;
	 text-align: center;
}
 #bot1:hover ~ .tira {
	left: 0vw;
}
 #bot2:hover ~ .tira {
	left: -16vw;
}
 #bot3:hover ~ .tira {
	left: -31vw;
}
 #bot4:hover ~ .tira {
	left: -46vw;
}

/* TEORIA DEL COLOR*/

.color-theory{
	display: flex;
	flex-flow: column nowrap;
}

.color-theory article{
	flex: 1;
}

.color-theory-tile-container {
	display: flex;
	flex-flow: row nowrap;
}

.color-theory-tile {
	width: 25%;
	height: auto;
	flex: 1;
}

#rgb-mix-tile {
	width: 500%;
}

.art-teoria-model-rgb-mix {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}




/* PSICOLOGIA DEL COLOR*/

.psy-color-reaction-effect-container {
	display: flex;
	align-items: baseline;
	gap: 3%;
	padding: 3%;
	width: 100%;
	position: relative;
}

.psy-color-reaction-effect-container > * {
	flex: 1;
	text-align: center;
}

.psy-color-reaction {
	position: relative;
}

.psy-color-reaction-img{
	background-image: url(imagenes/colorwave.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 600px;
	height: 300px;
	margin: 5% auto 0 auto;
}

#sub-header {
	text-align: center;
}

.psy-color-classification-hot-cold{
	width: 100%;
}

.psy-color-classification-hot-cold p{
	width: 80%;
	margin: auto;
}

.psy-color-classification-hot-cold-img{
	text-align: center;
}

.psy-color-classification-hot-cold-img-caption{
	display: flex;
	margin: auto;
	justify-content: space-between;
	width: 100%;
	font-weight: bold;
	text-transform: uppercase;
}

#psy-color-classification-hot-cold-png {
	background-image: url(imagenes/hotcold.png);
	background-size:contain;
	background-repeat: no-repeat;
	height: 45em;
	margin: auto;
}

.psy-color-classification-card{
	display: flex;
	flex-flow: column nowrap;
	gap: 1em;
	padding: 2%;
}

.psy-color-classification-card h3{
	text-transform: uppercase;
}

.psy-color-classification-card-row{
	border-radius: 30px;
	padding: 2em;
	height: 30em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.50);
	margin: 2%;
}

.psy-color-classification-card-row h3{
	width: 100%;
	flex-basis: 100%;
}

.psy-color-classification-card-row-img {
	width: 300px;
	height: 300px;
	display: flex;
	flex-flow: column nowrap;
}

#psy-color-classification-card-row-img-p {
	flex: 0 0 100%;
	width: 100%;
}

 /* CIRCULO DE COLORES */
.color-circle-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: auto;
  }
  
  .circle-container {
	position: relative;
	width: 400px;
	height: 400px;
  }
  
  .color-circle {
	position: absolute;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	cursor: pointer;
	transition: transform 0.2s;
	z-index: 1;
  }
    
  .color-info {
	opacity: 0;
	position: absolute;
	background: rgba(255, 255, 255, 0.9);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 2;
	width: auto;
	pointer-events: none;
  }
      
  .color-circle:hover + .color-info {
	display: block;
	opacity: 1;
	transition: opacity .2s ease-in;
  }
  
  /* Positioning the color circles */
  #amarillo { top: 10%; left: 50%; background: yellow; transform: translate(-50%, -50%); }
  #naranja { top: 30%; left: 85%; background: orange; transform: translate(-50%, -50%); }
  #rojo { top: 70%; left: 85%; background: red; transform: translate(-50%, -50%); }
  #violeta { top: 90%; left: 50%; background: rgb(88, 53, 129); transform: translate(-50%, -50%); }
  #azul { top: 70%; left: 15%; background: blue; transform: translate(-50%, -50%); }
  #verde { top: 30%; left: 15%; background: green; transform: translate(-50%, -50%); }
  
  #blanco { top: 120%; left: 50%; background: white; transform: translate(-50%, -50%); border: 1px solid #ccc; }
  #gris { top: 10%; left: -10%; background: gray; transform: translate(-50%, -50%); }
  #negro { top: 10%; left: 110%; background: black; transform: translate(-50%, -50%); }
  
  .line-container {
	display: none; /* Hide the line container */
  }

  footer div {
	display: block;
	align-items: center;

  }

/*OTROS USOS DEL COLOR*/

.otrosusos-card-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.otrosusos-card-container#biology {
	justify-content: center;
	column-gap: 25%;
}

.otrosusos-card {
	width: 24rem;
	height: 36rem;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.otrosusos-card img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity .3s ease-out;
}

.otrosusos-card h3 {
	position: absolute;
    inset: 500px auto 10px auto;
    margin: auto;
    transition: inset .5s ease-out;
    text-transform: uppercase;
	word-wrap: break-word;
	opacity: 0%;	
  }

.otrosusos-card p {
	inset: auto auto 80px 30px;
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
}

.otrosusos-card:hover h3 {
    inset: 10% auto 300px auto;
    transition: inset .3s ease-in;
	color:black;
	opacity: 100%;
  }
  
.otrosusos-card:hover p {
    opacity: 1;
    transition: opacity .5s ease-in;
	margin: auto;
  }
  
.otrosusos-card:hover img {
    transition: opacity .3s ease-in;
    opacity: 0.2;
  }

/*RECURSOS Y HERRAMIENTAS*/
.logo-tools-container {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
    width: 100%;
	height: auto;
	align-items: baseline;
	padding-top: 3%;
  }


.logo-tools-container-item {
	width: 300px;
	height: auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	flex: 0;
	text-align: center;
}

.logo-tools-container-item img {
	width: 300px;
    height: 300px;
	object-fit: contain;
  }

/* VIDEO ON HOMEPAGE */
.video {
	max-width: 100%;
	margin: 0 auto;
}

.video video {
	width: 100%;
	height: auto;
}

/* IMAGENES DE PALETAS EN HOME*/

section#palettes {
	text-align: center;
	width: 100%;
}

section#palettes h2 {
	text-transform: uppercase;
}

.palettes-img-container {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 20px;
}

.palettes-img-container img {
	display: block;
	margin: auto;
	width: 100%;
	height: 25%;
}